/**
 * Light-Dark color scheme enabler for futaba
 */

@supports (color: light-dark(black, white)) {
  /* light-dark()で作っている他との整合のため */

  :root {
    color-scheme: light dark;
  }

  @media (prefers-color-scheme: dark) {
    /* ふたばの元スタイルを上書き */
    body[text="#800000"] {
      color: #e0d6d6 ! important;/* #800000 */
    }
    body[bgcolor="#FFFFEE"] {
      background-color: #1c1b22 ! important;/* #ffffee */
    }
    a:link, a:visited {
      color: #2f79ff ! important;/* #0000ee */
    }
    th[bgcolor="#e04000"] {
      background-color: #b23300 !important;/* #e04000 */
      font[color="#FFFFFF"] {
        color: #d4d4d4 ! important;/* #ffffff */
      }
    }
    th[bgcolor="#0040e0"] {
      background-color: #0033b2 ! important;/*#0040e0*/
      font[color="#FFFFFF"] {
        color: #d4d4d4 ! important;/*#ffffff*/
      }
    }

    /* overwrite futaba's style4.css */
    a.del, .sod, a.sod[href]:link {
      color: #e0d6d6 ! important;/*#800000*/
    }
    a:hover, a.sod[href]:link:hover {
      color: #ee0000 ! important;/*#DD0000*/
    }
    #catnext span, .qtjmp {
      color: blue ! important;/* blue */
    }
    .maxres, .dice, #catnext span:hover, .cno:hover, .pdms:hover, .qtjmp:hover, .qsd:hover, .pdds:hover, pdmsc:hover, .slp1:hover {
      color: #e61a1a ! important;/* red */
    }
    .csb {
      color: #b82219 ! important;/*#cc1105*/
    }
    .cnm {
      color: #169b57 ! important;/*#117743*/
    }
    .pdmshide:hover {/*silver*/
      color: #555555 ! important;/*silver,#c0c0c0*/
    }
    .rtd, .qtd {
      background-color: rgb(240 224 214 / 0.125) ! important;/*#f0e0d6*/
    }
    .ftdc {
      background-color: #6d2f10 ! important;/*ea8*/
    }
    .pdmm, .pdd, .pddtip, .pdmmc, .pddtipc, .slp {
      background-color: #1c1b22 ! important;/*#ffe*/
    }
    .pdmc:hover {
      background-color: #756666 ! important;/*#e9cccc*/
    }
    .cancel:before, .cancel:after {
      background-color: #800 ! important;/*#800*/
    }
    .cancelbk:hover > .cancel:before,
    .cancelbk:hover > .cancel:after {
      background-color: #f00 ! important;/*#f00*/
    }
    .pdmc {
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNC41MyA4LjA3Ij48cGF0aCBkPSJNNy4yNyw4LjA3YS44LjgsMCwwLDEtLjU3LS4yNEwuMjMsMS4zN0EuODEuODEsMCwwLDEsLjIzLjIzYS44MS44MSwwLDAsMSwxLjE0LDBsNS45LDUuOSw1LjktNS45YS44LjgsMCwwLDEsMS4xMywwLC44MS44MSwwLDAsMSwwLDEuMTRMNy44Myw3LjgzQS43Ny43NywwLDAsMSw3LjI3LDguMDdaIiBzdHlsZT0iZmlsbDojZTBkNmQ2Ii8+PC9zdmc+Cg==") !important;
    }
  }


  /* Force overwrites for akahuku inline styles */

  #akahuku_reload_container,
  #akahuku_throp_header_container,
  #akahuku_throp_menu,
  #akahuku_floatpostform_container,
  div.akahuku_reply_popup,
  #akahuku_respanel {
    background-color: light-dark(#ffffee, #1c1b22) !important;
    border-color: light-dark(#eeaa88, #6d2f10) !important;
    #akahuku_respanel_scroll {
      background-color: light-dark(#ccccbb, #2e2e2e) !important;
      #akahuku_respanel_bar {
        background-color: light-dark(#ffffee, #8f8f9d) !important;
        border-color: light-dark(#eeaa88, #6d2f10) !important;
      }
    }
    #akahuku_respanel_resizer {
      background-color: light-dark(#eeaa88, #6d2f10) !important;
    }
  }
  #akahuku_respanel_header {
    background-color: light-dark(#ea8, #6d2f10) !important;
  }
  .akahuku_markup_catalog_table {
    td a font {
      color: light-dark(#800000, #e0d6d6) !important;
    }
    td a.akahuku_visited font, td a:visited font, td[__opened] a font {
      background-color: light-dark(#eeaa88, #6d2f10) !important;
    }
    div.akahuku_cell {
      color: light-dark(#cc1105, #b82219);
    }
    td[__age="9"]:not([__preserved]),
    td[__age="9"][__preserved="0"],
    td[__age="10"]:not([__preserved]) {
      border-color: light-dark(#f00, #e61a1a) !important;
    }
    td[__age="-1"] {
      border-color: light-dark(#800, #e0d6d6) !important;
    }
    td[__overflowed="true"] {
      background-color: light-dark(#ddddcc, #40403a) !important;
    }
  }
  body > div.akahuku_popup {
    background-color: light-dark(#ffffee, #1c1b22) !important;
    a.akahuku_zoomedpopup_button {
      color: light-dark(#ffffff, #d4d4d4) !important;
      background-color: light-dark(#0040e0, #0033b2) !important;
      &.akahuku_visited {
        background-color: light-dark(#e04000, #b23300) !important;
      }
    }
    a.akahuku_zoomedpopup_errored_button {
      color: light-dark(red, #e61a1a) !important;
      background-color: light-dark(#ffffee, #1c1b22) !important;
    }
  }
  #akahuku_move_button_1,
  #akahuku_move_button_2,
  #akahuku_move_button_3,
  #akahuku_move_button_4,
  #akahuku_move_button_5,
  #akahuku_move_button_6,
  #akahuku_move_button_7,
  #akahuku_move_button_8,
  #akahuku_move_button_9,
  #akahuku_move_button_10 {
    a.akahuku_move_button:not(:hover) {
      color: light-dark(#0040ee, #2f79ff) !important;
    }
  }
  .thre a[__akahuku_alertgif="true"] {
    color: light-dark(red, #e61a1a) !important;
  }
  #akahuku_throp_menu > div:hover,
  div.akahuku_reply_popup td[style] {
    background-color: light-dark(#f0e0d6, #363338) !important;
    a.akahuku_popup_content_button:not(:hover) {
      color: light-dark(#0040ee, #2f79ff) !important;
    }
  }
  #akahuku_floatpostform_container,
  #akahuku_throp_header_container {
    border-color: light-dark(#ea8,  #6d2f10) !important;
  }
  span.akahuku_status_suffix {
    color: light-dark(#a05050, #ddd3d3) !important;
  }
  #akahuku_new_reply_header>div>span {
    color: light-dark(#800000, #e0d6d6) !important;
    background-color: light-dark(#ffe, #1c1b22) !important;
    border-color: light-dark(#eeaa88, #6d2f10) !important;
  }
  #akahuku_new_reply_header,
  #akahuku_new_reply_header>div {
    border-top-color: light-dark(#ea8, #6d2f10) !important;
  }
  #akahuku_throp_menu {
    border-color: light-dark(#800000, #e0d6d6) !important;
  }
  div.akahuku_reply_popup {
    border-color: light-dark(#eeaa88, #6d2f10) !important;
  }
  #akahuku_floatpostform_container #akahuku_postform, #akahuku_floatpostform_container .akahuku_postform {
    border-bottom-color: light-dark(#eeaa88, #6d2f10) !important;
  }
  blockquote > small.akahuku_generated,
  div.akahuku_popup_content_blockquote > small.akahuku_generated,
  a.akahuku_saveimage_button, a.akahuku_saveimage_button2,
  a.akahuku_deleteimage_button, a.akahuku_thumbimage_button,
  a.akahuku_srcimage_button, a.akahuku_saveimage_stop,
  a.akahuku_postform_upfile_extrabuttons,
  a.akahuku_postform_upfile_extrabuttons,
  #akahuku_reload_button,
  #akahuku_reload_syncbutton,
  #akahuku_sagebutton,
  #akahuku_throp_reload_syncbutton,
  #akahuku_throp_reload_button,
  #akahuku_catalog_reload_button, #akahuku_catalog_reload_button2,
  #akahuku_catalog_reload_undo_button, #akahuku_catalog_reload_undo_button2,
  #akahuku_catalog_reload_redo_button, #akahuku_catalog_reload_redo_button2,
  a.akahuku_catalog_reorder,
  #akahuku_cleanup_button,
  #akahuku_savemht_opennocachelist,
  #akahuku_savemht_saveas_button,
  #akahuku_savemht_button {
    &:not(&:hover) {
      color: light-dark(#0040ee, #2c71ee) !important;
    }
  }
  blockquote > small.akahuku_generated,
  div.akahuku_popup_content_blockquote > small.akahuku_generated {
	&:hover {
      color: light-dark(#0040ee, #2c71ee) !important;
	}
  }
  span.akahuku_preview_save_button[save="0"] {
    color: light-dark(#c0c0c0, #555555) !important;
  }
  span.akahuku_preview_save_button[save="1"] {
    color: light-dark(#ff0000, #ee0000) !important;
  }
  span.akahuku_saveimage_message {
    color: light-dark(#800000, #e0d6d6) !important;
  }
  #akahuku_saveimage_menu {
    background-color: light-dark(#ffffee, #1c1b22) !important;
    color: light-dark(#800000, #e0d6d6) !important;
    & > label {
      color: light-dark(#800000, #e0d6d6) !important;
    }
    input[type='radio']:checked + label {
      background-color: light-dark(#f0e0d6, #363338) !important;
      color: light-dark(#800000, #e0d6d6) !important;
    }
  }
  font > small.akahuku_generated {
    color: light-dark(#409999, #5aa0a0) !important;
  }
  font.akahuku_shown_mail {
    color: light-dark(blue, #2f79ff) !important;
  }
  blockquote > a.akahuku_generated_link:visited {
    color: light-dark(#8040ee, #a073ee) !important;
  }
  font > a.akahuku_generated_link {
    color: light-dark(#409999, #5aa0a0) !important;
  }
  font > a.akahuku_generated_link:visited {
    color: light-dark(#806099, #554066)) !important;
  }
  .akahuku_my_reply::after {
    border-top-color: light-dark(#ea8, #34211c) !important;
    border-right-color: light-dark(#ea8, #34211c) !important;
    border-left-color: light-dark(#ffe, #1c1b22) !important;
    border-bottom-color: light-dark(#ffe, #1c1b22) !important;
  }
  @media (prefers-color-scheme: dark) {
    #akahuku_throp_menu_opener {
      filter: invert(100%) grayscale(100%);
    }
  }

}
