label.warning {
  color: #ff0000;
  background-color: transparent;
}

box.sub {
  margin-left: 20px;
}

/* sp 拡張設定項目の目印 */
checkbox.sp label:after {
  content: ".sp";
  color: #00f;
  font-size: 80%;
  vertical-align: bottom;
}
checkbox.sp[disabled="true"] label:after {
  color: inherit ! important;
}
label.sp {
  color: #00f;
  font-size: 80%;
  vertical-align: bottom;
  padding: 0px;
  margin-left: 0px;
  margin-right: auto;
}

label.ineffective,
checkbox.ineffective label {
  text-decoration: line-through;
}
