akahukutabcontainer {
  -moz-binding: url("chrome://akahuku/content/tabcontainer.xml#akahukutabcontainer");
}

.tabspace {
  color: #800000;
  background-color: #ccccbb;
  border-width: 0px;
  border-style: solid;
  border-color: #eeaa88;
}
akahukutabcontainer[orient="horizontal"] .tabspace {
  border-bottom-width: 1px;
}
akahukutabcontainer[orient="vertical"] .tabspace {
  border-right-width: 1px;
}

.tabs {
  color: #800000;
  background-color: #ffffee;
  width: 100%;
}

.tab > label {
  -moz-appearance: none;
  margin: 0px;
  padding: 0px 0px 0px 0px;
}

akahukutabcontainer[orient="horizontal"] > .tab {
  -moz-appearance: none;
  margin: 0px;
  padding: 2px 4px 2px 4px;
  min-width: 1em;
  color: #bb8080;
  background-color: #eeeedd;
  border-width: 1px 1px 0px 1px;
  border-style: solid;
  border-color: #eeaa88;
}

akahukutabcontainer[orient="horizontal"] > .tab[selected] {
  color: #800000;
  background-color: #ffffee;
}

akahukutabcontainer[orient="vertical"] > .tab {
  -moz-appearance: none;
  margin: 0px;
  padding: 2px 4px 2px 4px;
  min-width: 1em;
  color: #bb8080;
  background-color: #eeeedd;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #eeaa88;
}

akahukutabcontainer[orient="vertical"] > .tab[selected] {
  color: #800000;
  background-color: #ffffee;
}

.buttons {
  color: #800000;
  background-color: #ffffee;
}

.refresh {
  -moz-user-focus: ignore;
  -moz-appearance: none;
  -moz-border-top-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-right-colors: none;
  -moz-border-left-colors: none;
  margin: 0;
  padding: 2px;
  min-width: 1em;
  color: #800000;
  background-color: #f8e7d7;
  border-width: 1px;
  border-style: solid;
  border-color: #f8e7d7;
}

.refresh:active {
  background-color: #f0d0c0;
}

.refresh[disabled] {
  color: #bb8080;
  background-color: #eeeedd;
  border-color: #eeeedd;
}

.refresh + .refresh,
.refresh_menu + .refresh {
  margin-left: 4px;
}
.refresh:first-of-type {
  margin-left: 2px;
}

.refresh_menu {
  -moz-user-focus: ignore;
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  -moz-border-top-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-right-colors: none;
  -moz-border-left-colors: none;
  overflow: hidden;
  min-width: 1em;
  width: 1em;
  margin: 0;
  color: #800000;
  background-color: #f8e7d7;
  border-width: 1px;
  border-style: solid;
  border-color: #f8e7d7 #ffffee;
}
.refresh_menu:active {
  background-color: #f0d0c0;
}
.refresh[disabled] + .refresh_menu {
  color: #bb8080;
  background-color: #eeeedd;
}

.refresh_catalog {
  width: 4em;
  text-align: center;
}

.sortorder_menu {
  -moz-appearance: none;
  -moz-border-top-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-right-colors: none;
  -moz-border-left-colors: none;
  margin: 0 0 0 4px;
  padding: 2px 0;
  text-align: left;
  min-width: 5em;
  color: #800000;
  background-color: #ffffee;
  border-width: 0;
}

iframe.akahuku_sidebar_iframe {
  -moz-user-focus: ignore;
}
