akahukutabcontainer {
  color: #800000;
  background-color: #ccccbb;
}

button.scrollbutton {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  padding: 2px;
  min-width: 1em;
  color: #800000;
  background-color: #ffffee;
  border-width: 1px;
  border-style: solid;
  border-color: #eeaa88;
}

button.scrollbutton[disabled="true"] {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  padding: 2px;
  min-width: 1em;
  color: #bb8080;
  background-color: #eeeedd;
  border-width: 1px;
  border-style: solid;
  border-color: #eeaa88;
}

button.menubutton {
  -moz-appearance: none;
  -moz-box-align: center;
  -moz-box-pack: center;
  margin: 0px;
  padding: 2px;
  min-width: 1em;
  color: #800000;
  background-color: #ffffee;
  border-width: 1px;
  border-style: solid;
  border-color: #eeaa88;
}

